.container {
  height: 330px;
  width: 265px;
  margin-right: 30px;
  background-color: #292230;
  border-radius: 5px;
}

.header {
  height: 40px;
  padding-top: 25px;
  margin-left: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #e1e1e1;
}

.content {
  height: 250px;
  margin-left: 10px;
}
